* {
  margin: 0;
  padding: 0;
}

main {
  margin-left: 25px;
}

.logoNBA {
  width: 150px;
}

.navMenu {
  justify-content: center;
  display: flex;
  width: 100%;
}
.navMenu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}
.navMenu a {
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
  padding: 50px;
}
.navMenu a:active {
  background-color: white;
}

@media (hover: hover) {
  .navMenu a:hover {
    background-color: rgba(114, 114, 114, 0.562);
    height: 50px;
  }
}
.estiloLetra {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

.pIndex li {
  list-style: none;
}

.backColor {
  background-color: rgba(201, 201, 201, 0.377);
}

.footerPosi {
  grid-area: footer;
  margin-top: 45px;
  background-color: gray;
  height: 155px;
  border-radius: 60px;
}
.footerPosi li {
  display: inline;
  padding: 5px;
  list-style: none;
  position: relative;
  left: 1064px;
  bottom: 6px;
}
.footerPosi a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.footerPosi img {
  max-width: 100%;
  height: 50px;
  width: 50px;
}
.footerPosi p {
  margin: 0px;
  padding-left: 685px;
}
.footerPosi h3 {
  position: relative;
  top: 42px;
  left: 650px;
}

.footerContacto {
  margin-top: 25px;
}
.footerContacto img {
  max-width: 100%;
  height: 50px;
  width: 50px;
}
.footerContacto p {
  margin: 0px;
}
.footerContacto a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.footerContacto li {
  display: inline;
  padding: 15px;
}

.bloque {
  display: block;
  margin: 25px;
}

p {
  margin: 25px;
}

section {
  margin: 25px;
}

.imgContact {
  background-image: url(../imagenes/imagen\ dunk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  display: block;
  margin-left: 0px;
}

.bodyHisto {
  background-image: url(../imagenes/nba\ foto\ vieja.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  margin-left: 0px;
  opacity: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.4fr 3fr 1fr;
  grid-template-areas: "header header" "main video" "footer footer";
}

.headerHisto {
  grid-area: header;
  background-color: white;
}

.mainHisto {
  background-color: grey;
  grid-area: main;
  padding-top: 0px;
  margin-top: 90px;
}

.h2histo {
  color: white;
}

.video {
  grid-area: video;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
}

.footerHisto {
  grid-area: footer;
  position: relative;
  top: 20px;
  background-color: gray;
  height: 155px;
  border-radius: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "h3 logos" "p      p";
}
.footerHisto p {
  grid-area: p;
  justify-self: center;
  align-self: center;
}
.footerHisto img {
  max-width: 100%;
  height: 50px;
  width: 50px;
}
.footerHisto li {
  list-style: none;
}
.footerHisto a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.footerHisto ul {
  grid-area: logos;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  top: 25px;
  right: 60px;
}
.footerHisto h3 {
  grid-area: h3;
  align-self: center;
  justify-self: center;
  padding-top: 15px;
}

.bodyIndex {
  background-image: url(../imagenes/curry\ jugando.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  opacity: 87%;
  display: block;
  margin-left: 0px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 12em 25em 25em;
  grid-template-areas: "header header" "h1 main" "footer main";
}

.mainIndex {
  grid-area: main;
  background-color: white;
  border-radius: 12px;
  height: 845px;
  width: 1100px;
  justify-self: right;
  overflow: overlay;
}

#h1index {
  grid-area: h1;
}

.footerIndx {
  grid-area: footer;
  position: relative;
  top: 150px;
  background-color: white;
  height: 156px;
  border-radius: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "h3 logos" "p      p";
}
.footerIndx p {
  grid-area: p;
  justify-self: center;
}
.footerIndx img {
  max-width: 100%;
  height: 50px;
  width: 50px;
}
.footerIndx li {
  list-style: none;
}
.footerIndx a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.footerIndx ul {
  grid-area: logos;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 25px;
  padding-right: 60px;
}
.footerIndx h3 {
  grid-area: h3;
  align-self: center;
  justify-self: right;
}

.headerIndex {
  grid-area: header;
  background-color: black;
  height: 165px;
}
.headerIndex a {
  color: white;
}

.h3Index {
  margin-left: 25px;
}

#ulIndexmain {
  padding: 25px;
  padding-left: 40px;
}

#comoeselformato {
  padding: 25px;
  padding-top: 20px;
}

.bodyFoto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.15fr 1fr 0.1fr;
  grid-template-areas: "header header" "main main" "footer footer";
}

.headerFoto {
  grid-area: header;
}

.footerFoto {
  grid-area: footer;
}

.mainFoto {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.3fr repeat(3, 1fr) 1fr;
  grid-template-areas: "h2 h2" "foto1 foto2" "foto3 foto4" "foto5 foto6" "foto7 foto8";
}

#foto1 {
  grid-area: foto1;
  height: auto;
  width: 35em;
  align-self: center;
  justify-self: center;
}

#foto2 {
  grid-area: foto2;
  height: auto;
  width: 35em;
  align-self: center;
  justify-self: center;
}

#foto3 {
  grid-area: foto3;
  height: auto;
  width: 35em;
  align-self: center;
  justify-self: center;
}

#foto4 {
  grid-area: foto4;
  height: auto;
  width: 35em;
  align-self: center;
  justify-self: center;
}

#foto5 {
  grid-area: foto5;
  height: auto;
  width: 35em;
  align-self: center;
  justify-self: center;
}

#foto6 {
  grid-area: foto6;
  height: auto;
  width: 35em;
  align-self: center;
  justify-self: center;
}

#foto7 {
  grid-area: foto7;
  height: auto;
  width: 35em;
  align-self: center;
  justify-self: center;
}

#foto8 {
  grid-area: foto8;
  height: auto;
  width: 35em;
  align-self: center;
  justify-self: center;
}

#h2Stickyfoto {
  grid-area: h2;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: sticky;
  top: 5px;
  background-color: rgb(219, 102, 6);
  color: black;
  height: 50px;
}

#oeste {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#este {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.headerPosi {
  margin-bottom: 40px;
}

.mainCampeones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr repeat(2, 600px);
  grid-template-areas: "texto texto" "img1 img2" "img3 img4";
}

#h1Campeones {
  grid-area: texto;
  align-self: center;
  justify-self: center;
  font-size: 40px;
  font-weight: 100;
  margin-top: 45px;
  margin-bottom: 30px;
}

#Boston {
  height: 450px;
  width: 500px;
  align-self: center;
  justify-self: center;
  grid-area: img1;
}

#Bulls {
  height: 450px;
  width: 500px;
  align-self: center;
  justify-self: center;
  grid-area: img4;
}

#GoldenState {
  height: 450px;
  width: 500px;
  align-self: center;
  justify-self: center;
  grid-area: img3;
}

#Lakers {
  height: 450px;
  width: 500px;
  align-self: center;
  justify-self: center;
  grid-area: img2;
}

.mainContacto {
  display: flex;
  align-content: center;
  justify-content: center;
}

.footerCampeones {
  margin: 30px;
  margin-left: 50px;
}
.footerCampeones a {
  text-decoration: none;
  color: black;
}
.footerCampeones li {
  list-style: none;
  padding-left: 40px;
  display: inline;
  padding: 5px;
}
.footerCampeones p {
  margin: 0px;
}
.footerCampeones img {
  max-width: 100%;
  height: 50px;
  width: 50px;
}

@media screen and (min-width: 1431px) and (max-width: 1850px) {
  .bodyHisto {
    background-image: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr repeat(2, 1fr) 0.3fr;
    grid-template-areas: "header" "main" "video" "footer";
  }
  .mainHisto {
    margin: 0px;
  }
  .h2histo {
    color: black;
  }
  .video iframe {
    height: 400px;
    width: 850px;
  }
  .bodyIndex {
    background-image: none;
  }
  .footerIndx h3 {
    padding-left: 35px;
  }
  .mainIndex {
    overflow: initial;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1430px) {
  /* Index */
  .bodyIndex {
    background-image: none;
    grid-template-columns: 100%;
    grid-template-rows: 0.23fr 0.3fr repeat(2, 0.5fr);
    grid-template-areas: "header" "h1" "main" "footer";
  }
  .mainIndex {
    height: auto;
    width: auto;
    overflow: initial;
  }
  #h1Index {
    padding-top: 25px;
    justify-self: center;
  }
  main {
    margin-left: 0px;
  }
  .footerIndx h3 {
    justify-self: center;
  }
  .navMenu a {
    padding: 35px;
  }
  /* Histo */
  .bodyHisto {
    background-image: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr repeat(2, 1fr) 0.3fr;
    grid-template-areas: "header" "main" "video" "footer";
  }
  .mainHisto {
    margin: 0px;
  }
  .h2histo {
    color: black;
  }
  .video h2 {
    color: black;
  }
  .video iframe {
    height: 450px;
    width: 900px;
  }
}
@media screen and (min-width: 856px) and (max-width: 1024px) {
  /* Index */
  .bodyIndex {
    background-image: none;
    grid-template-columns: 100%;
    grid-template-rows: 0.23fr 0.3fr repeat(2, 0.5fr);
    grid-template-areas: "header" "h1" "main" "footer";
  }
  .mainIndex {
    height: auto;
    width: auto;
    overflow: initial;
  }
  #h1Index {
    padding-top: 25px;
    justify-self: center;
  }
  main {
    margin-left: 0px;
  }
  .navMenu {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
  }
  .navMenu a {
    padding: 40px;
    padding-bottom: 10px;
  }
  .navMenu li {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  /* Historia */
  .bodyHisto {
    background-image: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr repeat(2, 1fr) 0.3fr;
    grid-template-areas: "header" "main" "video" "footer";
  }
  .mainHisto {
    margin: 0px;
  }
  .h2histo {
    color: black;
  }
  .video iframe {
    height: 350px;
    width: 700px;
  }
  /* Contacto */
  .mainContacto {
    grid-area: "main";
    display: flex;
    justify-content: center;
  }
  header {
    grid-area: header;
  }
  .footerContacto {
    grid-area: footer;
  }
  /* Fotos */
  #foto1 {
    grid-area: foto1;
    height: auto;
    width: 30em;
    align-self: center;
    justify-self: center;
  }
  #foto2 {
    grid-area: foto2;
    height: auto;
    width: 30em;
    align-self: center;
    justify-self: center;
  }
  #foto3 {
    grid-area: foto3;
    height: auto;
    width: 30em;
    align-self: center;
    justify-self: center;
  }
  #foto4 {
    grid-area: foto4;
    height: auto;
    width: 30em;
    align-self: center;
    justify-self: center;
  }
  #foto5 {
    grid-area: foto5;
    height: auto;
    width: 30em;
    align-self: center;
    justify-self: center;
  }
  #foto6 {
    grid-area: foto6;
    height: auto;
    width: 30em;
    align-self: center;
    justify-self: center;
  }
  #foto7 {
    grid-area: foto7;
    height: auto;
    width: 30em;
    align-self: center;
    justify-self: center;
  }
  #foto8 {
    grid-area: foto8;
    height: auto;
    width: 30em;
    align-self: center;
    justify-self: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 855px) {
  .bodyIndex {
    background-image: none;
    grid-template-columns: 100%;
    grid-template-rows: 0.23fr 0.3fr repeat(2, 0.5fr);
    grid-template-areas: "header" "h1" "main" "footer";
  }
  .mainIndex {
    height: auto;
    width: auto;
    overflow: initial;
  }
  #h1Index {
    padding-top: 25px;
    justify-self: center;
  }
  main {
    margin-left: 0px;
  }
  .navMenu {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
  }
  .navMenu a {
    padding-bottom: 2px;
  }
  .navMenu li {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  /* Historia */
  .bodyHisto {
    background-image: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr repeat(2, 1fr) 0.3fr;
    grid-template-areas: "header" "main" "video" "footer";
  }
  .mainHisto {
    margin: 0px;
  }
  .h2histo {
    color: black;
  }
  .video iframe {
    height: 350px;
    width: 700px;
  }
}
@media screen and (min-width: 521px) and (max-width: 768px) {
  /* Index */
  .bodyIndex {
    background-image: none;
    grid-template-columns: 100%;
    grid-template-rows: 0.23fr 0.3fr repeat(2, 0.5fr);
    grid-template-areas: "header" "h1" "main" "footer";
  }
  #h1Index {
    padding-top: 50px;
    padding-left: 40px;
  }
  .mainIndex {
    height: auto;
    width: auto;
    overflow: initial;
  }
  /* Historia */
  .bodyHisto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.4fr 0.7fr 0.7fr 0.5fr;
    grid-template-areas: "header" "main" "video" "footer";
  }
  .navMenu {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
  }
  .navMenu a {
    padding-bottom: 2px;
  }
  .navMenu li {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .video iframe {
    height: auto;
    width: auto;
  }
  /* Posiciones */
  #este img {
    height: auto;
    width: 600px;
  }
  #oeste img {
    height: auto;
    width: 600px;
  }
  /* Fotos */
  .bodyFoto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 220px 1fr 30px;
    grid-template-areas: "header" "main" "footer";
  }
  .mainFoto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr repeat(7, 1fr) 1.3fr;
    grid-template-areas: "h2" "foto1" "foto2" "foto3" "foto4" "foto5" "foto6" "foto7" "foto8";
  }
  #foto1 {
    grid-area: foto1;
    height: auto;
    width: 41em;
    align-self: center;
    justify-self: center;
  }
  #foto2 {
    grid-area: foto2;
    height: auto;
    width: 41em;
    align-self: center;
    justify-self: center;
  }
  #foto3 {
    grid-area: foto3;
    height: auto;
    width: 41em;
    align-self: center;
    justify-self: center;
  }
  #foto4 {
    grid-area: foto4;
    height: auto;
    width: 41em;
    align-self: center;
    justify-self: center;
  }
  #foto5 {
    grid-area: foto5;
    height: auto;
    width: 41em;
    align-self: center;
    justify-self: center;
  }
  #foto6 {
    grid-area: foto6;
    height: auto;
    width: 41em;
    align-self: center;
    justify-self: center;
  }
  #foto7 {
    grid-area: foto7;
    height: auto;
    width: 41em;
    align-self: center;
    justify-self: center;
  }
  #foto8 {
    grid-area: foto8;
    height: auto;
    width: 41em;
    align-self: center;
    justify-self: center;
  }
  /* Campeones */
  .bodyCampeones {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1600px 1fr;
    grid-template-areas: "header" "main" "footer";
  }
  .mainCampeones {
    grid-area: main;
  }
  .footerCampeones {
    grid-area: footer;
  }
  .mainCampeones {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr repeat(4, 1fr);
    grid-template-areas: "texto" "img1" "img2" "img3" "img4";
  }
  #Boston {
    height: 250px;
    width: 350px;
    align-self: center;
    justify-self: center;
    grid-area: img1;
  }
  #Bulls {
    height: 250px;
    width: 350px;
    align-self: center;
    justify-self: center;
    grid-area: img4;
  }
  #GoldenState {
    height: 250px;
    width: 350px;
    align-self: center;
    justify-self: center;
    grid-area: img3;
  }
  #Lakers {
    height: 250px;
    width: 350px;
    align-self: center;
    justify-self: center;
    grid-area: img2;
  }
}
@media (min-width: 10px) and (max-width: 520px) {
  .bodyIndex {
    background-image: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.1fr 1fr 0.4fr;
    grid-template-areas: "header" "h1" "main" "footer";
  }
  .mainIndex {
    height: auto;
    width: auto;
    overflow: initial;
  }
  p {
    margin: 1px;
    width: auto;
  }
  #h1Index {
    grid-area: "h1";
    margin: 0px;
    padding: 0px;
    align-self: center;
    justify-self: center;
  }
  main {
    margin: 0px;
  }
  .bodyHisto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.3fr 1fr 1fr 0.3fr;
    grid-template-areas: "header" "main" "video" "footer";
  }
  .mainHisto {
    align-self: center;
    justify-self: center;
  }
  .video {
    justify-self: center;
    align-items: center;
  }
  #playoffs {
    margin-top: 15px;
  }
  #sectionIndex {
    position: relative;
    right: 25px;
  }
  h2 {
    align-self: left;
    margin-bottom: 5px;
  }
  h3 {
    position: relative;
    right: 25px;
    margin-bottom: 15px;
  }
  .footerIndx {
    margin-left: 35px;
  }
  .footerHisto {
    margin-left: 45px;
    width: 300px;
  }
  .video iframe {
    width: 290px;
    height: 250px;
    align-self: center;
  }
  .bodyPosi {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.3fr 1fr 1fr 0.5fr;
    grid-template-areas: "header" "este" "oeste" "footer";
  }
  #este {
    grid-area: "este";
    margin-bottom: 15px;
  }
  #este img {
    height: auto;
    width: 300px;
  }
  #oeste {
    grid-area: "oeste";
  }
  #oeste img {
    height: auto;
    width: 300px;
  }
  .h2Posi {
    font-size: 15px;
    padding-bottom: 10px;
  }
  .footerPosi {
    margin-left: 50px;
    margin-top: 20px;
  }
  .footerPosi h3 {
    font-size: 15px;
  }
  .footerPosi p {
    font-size: 13px;
  }
  .footerPosi img {
    height: auto;
    width: 30px;
  }
  .bodyContacto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.3fr 1fr 0.5fr;
    grid-template-areas: "header" "main" "footer";
  }
  header {
    grid-area: "header";
  }
  .mainContacto {
    grid-area: "main";
  }
  .footerContacto {
    grid-area: "footer";
    margin-left: 50px;
    margin-top: 20px;
  }
  .footerContacto h3 {
    font-size: 15px;
  }
  .footerContacto p {
    font-size: 13px;
  }
  .footerContacto img {
    height: auto;
    width: 30px;
  }
  .navMenu {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
  }
  .navMenu a {
    padding-bottom: 10px;
  }
  .navMenu li {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  /* Fotos */
  .bodyFoto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.14fr 1fr 30px;
    grid-template-areas: "header" "main" "footer";
  }
  .mainFoto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr repeat(7, 1fr) 1.3fr;
    grid-template-areas: "h2" "foto1" "foto2" "foto3" "foto4" "foto5" "foto6" "foto7" "foto8";
  }
  #foto1 {
    grid-area: foto1;
    height: auto;
    width: 27em;
    align-self: center;
    justify-self: center;
  }
  #foto2 {
    grid-area: foto2;
    height: auto;
    width: 27em;
    align-self: center;
    justify-self: center;
  }
  #foto3 {
    grid-area: foto3;
    height: auto;
    width: 27em;
    align-self: center;
    justify-self: center;
  }
  #foto4 {
    grid-area: foto4;
    height: auto;
    width: 27em;
    align-self: center;
    justify-self: center;
  }
  #foto5 {
    grid-area: foto5;
    height: auto;
    width: 27em;
    align-self: center;
    justify-self: center;
  }
  #foto6 {
    grid-area: foto6;
    height: auto;
    width: 27em;
    align-self: center;
    justify-self: center;
  }
  #foto7 {
    grid-area: foto7;
    height: auto;
    width: 27em;
    align-self: center;
    justify-self: center;
  }
  #foto8 {
    grid-area: foto8;
    height: auto;
    width: 27em;
    align-self: center;
    justify-self: center;
  }
  /* Campeones */
  .bodyCampeones {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1600px 1fr;
    grid-template-areas: "header" "main" "footer";
  }
  .mainCampeones {
    grid-area: main;
  }
  .footerCampeones {
    grid-area: footer;
  }
  .mainCampeones {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr repeat(4, 1fr);
    grid-template-areas: "texto" "img1" "img2" "img3" "img4";
  }
  #Boston {
    height: auto;
    width: 280px;
    align-self: center;
    justify-self: center;
    grid-area: img1;
  }
  #Bulls {
    height: auto;
    width: 280px;
    align-self: center;
    justify-self: center;
    grid-area: img4;
  }
  #GoldenState {
    height: auto;
    width: 280px;
    align-self: center;
    justify-self: center;
    grid-area: img3;
  }
  #Lakers {
    height: auto;
    width: 280px;
    align-self: center;
    justify-self: center;
    grid-area: img2;
  }
  #h1Campeones {
    font-size: 25px;
    font-weight: 100;
    margin-left: 25px;
  }
  #h2Stickyfoto {
    text-align: justify;
    height: 85px;
  }
}

/*# sourceMappingURL=estilos.css.map */
