*{
    margin: 0;
    padding: 0;
}

main{
    margin-left: 25px;

}

header{
    position: relative;
    height: 120px;
    display: block;
    margin-bottom: 50px;

}

.logoNBA{
    max-width: 100%;
    display: block;
    position: absolute;
    width: 150px;
    top: 5px;
    left: 5px;
}

.navMenu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
   
    
}

.navMenu li{
    display: inline-block;
    height: 100px;
   

}


.navMenu a{
    text-decoration: none;
    display: block;
    padding: 55px ;
    font-size: larger;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;

}



@media (hover: hover){
    .navMenu a:hover{
    color: ;
    background-color:rgba(114, 114, 114, 0.562) ;
    height: 10px;
   
    }
}

.navMenu a:active{
    background-color: white;

}

.navMenu{
    display: block;
    position:absolute;
    top: 20px;
    right: 100px;
    

}

.imgIndex{
    background-image: url(../imagenes/curry\ jugando.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    opacity: 87%;
    display: block;
    margin-left: 0px;
    
    
}

.estiloLetra{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}


.pIndex{

    text-align: justify;
    width: 700px;
    position: relative;
    left: 600px;
    top: 50px;
    background-color: rgba(128, 128, 128, 0.137);
    padding: 50px;

    
}



.pIndex li{
    list-style: none;
}
    

.backColor{
    background-color: rgba(201, 201, 201, 0.377);
}

#h1Index{
    position: absolute;
    top: 250px;
    left: 60px;
    opacity: 1000%;
    margin: 25px;
   z-index: 2;
    
}

footer{
    margin: 25px;
    position: absolute; 
    bottom: 0px;
    z-index: 3;
    
}

footer li{
    list-style: none;
    position: relative;
    left: 25px;

}

footer a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}

footer img{
    max-width: 100%;
    height: 50px;
    width: 50px;

}

footer p{
    margin: 0px;
}

.bloque{
    display: block;
    margin: 25px;


}

p{
    margin: 30px;

}

section{
    margin: 25px;

}





/*position: relative;
    left: 600px;
    padding: 7px;
    top: 65px;*/