.logoNBA{
    max-width: 100%;
    display: block;
    position: relative;
    width: 150px;
    right: 20px;
    bottom: px;
}

.navMenu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    
}

.navMenu li{
    display: inline-block;
    height: 100px;

}


.navMenu a{
    text-decoration: none;
    display: block;
    padding: 55px ;
    font-size: larger;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;

}



@media (hover: hover){
    .navMenu a:hover{
    color: ;
    background-color:rgba(114, 114, 114, 0.562) ;

    }
}

.navMenu a:active{
    background-color: white;

}

.navMenu{
    display: block;
    position:absolute;
    top: 20px;
    right: 200px;

}

.imgIndex{
    background-image: url(../imagenes/curry\ jugando.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    opacity: 87%;
    
}

.estiloLetra{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}


.pIndex{
    
    text-align: justify;
    width: 700px;
    position: relative;
    left: 600px;
    padding: 7px;
}

.backColor{
    background-color: rgba(201, 201, 201, 0.377);
}

#h1Index{
    position: absolute;
    top: 230px;
    left: 100px;
   
}

#mainIndex{
    position: relative;
    top: 00px;

}