*{
    margin: 0;
    padding: 0;
}

@mixin gridBase($d, $c, $r){
    display: $d;
    grid-template-columns: $c;
    grid-template-rows: $r;
    @content
}


.logoNBA{
    width: 150px;
    
}

.navMenu{
    justify-content: center;
    display: flex;
    width: 100%;

    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        align-items: center;
        justify-content: space-around;
        
    }
    
    a{
        text-decoration: none;
        font-size: larger;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: black;
        padding: 50px;

        &:active{
            background-color: white;
        }
    } 



}

@media (hover: hover){
    .navMenu a:hover{
    background-color:rgba(114, 114, 114, 0.562) ;
    height: 50px;
    }
}



.estiloLetra{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.pIndex{
    li{
        list-style: none;
    }
}

.backColor{
    background-color: rgba(201, 201, 201, 0.377);
}


.footerPosi{

    grid-area: footer;
    position: relative;
    top: 20px;    
    background-color: gray;
    height: 155px;
    border-radius: 60px;
    @include gridBase(grid, repeat( 2, 1fr), repeat( 2, 1fr)){
        grid-template-areas: 
        "h3 logos"
        "p      p"
        ;
    }


    p{
        grid-area: p;
        justify-self: center;
        align-self: center;
    }

    img{
        max-width: 100%;
        height: 50px;
        width: 50px;
    
    }

    li{
        list-style: none;
        
    }

    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    
    }

    ul{
        grid-area: logos;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        position: relative;
        top: 25px;
        right: 60px;
    }

    h3{
        grid-area: h3;
        align-self: center;
        justify-self: center;
        padding-top: 15px;
    }


}

.footerContacto{ 
    
    position: relative;
    top: 100px;    
    background-color: white;
    height: 155px;
    border-radius: 60px;
    @include gridBase(grid, repeat( 2, 1fr), repeat( 2, 1fr)){
        grid-template-areas: 
        "h3 logos"
        "p      p"
        ;
    }
    


    p{
        grid-area: p;
        justify-self: center;
        align-self: center;
    }

    img{
        max-width: 100%;
        height: 50px;
        width: 50px;
    
    }

    li{
        list-style: none;
        
    }

    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    
    }

    ul{
        grid-area: logos;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        position: relative;
        top: 25px;
        right: 60px;
    }

    h3{
        grid-area: h3;
        align-self: center;
        justify-self: center;
        padding-top: 15px;
    }

}

.bloque{
    display: block;
    margin: 25px;

}

p{
    margin: 25px;

} 

section{
    margin: 25px;

}

    /* Historia */

.bodyHisto{
    background-image: url(../imagenes/nba\ foto\ vieja.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    margin-left: 0px;
    opacity: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.4fr 3fr 1fr ;
    grid-template-areas: 
    "header header"
    "main video"
    "footer footer"
    ;
    
}

.headerHisto{
    grid-area: header;
    background-color: white;
} 

.mainHisto{
    background-color: grey;
    grid-area: main;
    padding-top: 0px;
    margin-top: 90px;
}

.h2histo{ 
    color: white;
}

.video{
    grid-area: video;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}

.footerHisto{
    grid-area: footer;
    position: relative;
    top: 20px;    
    background-color: gray;
    height: 155px;
    border-radius: 60px;
    @include gridBase(grid, repeat( 2, 1fr), repeat( 2, 1fr)){
        grid-template-areas: 
        "h3 logos"
        "p      p"
        ;
    }


    p{
        grid-area: p;
        justify-self: center;
        align-self: center;
    }

    img{
        max-width: 100%;
        height: 50px;
        width: 50px;
    
    }

    li{
        list-style: none;
        
    }

    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    
    }

    ul{
        grid-area: logos;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        position: relative;
        top: 25px;
        right: 60px;
    }

    h3{
        grid-area: h3;
        align-self: center;
        justify-self: center;
        padding-top: 15px;
    }

}   

    /* Index */

.bodyIndex{
    background-image: url(../imagenes/curry\ jugando.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    opacity: 87%;
    display: block;
    margin-left: 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 12em 25em 25em;
    grid-template-areas: 
    "header header"
    "h1 main"
    "footer main"
    ;

}

.mainIndex{
    grid-area: main;
    background-color: white;
    border-radius: 12px;
    height: 845px;
    width: 1100px;
    justify-self: right;
    overflow: overlay;
} 

#h1index{
    grid-area: h1;

}

.footerIndx{
    grid-area: footer;
    position: relative;
    top: 150px;    
    background-color: white;
    height: 156px;
    border-radius: 60px;
    @include gridBase(grid, repeat( 2, 1fr), repeat( 2, 1fr)){
        grid-template-areas: 
        "h3 logos"
        "p      p"
        ;
    }


    p{
        grid-area: p;
        justify-self: center;
    }

    img{
        max-width: 100%;
        height: 50px;
        width: 50px;
    
    }

    li{
        list-style: none;
        
    }

    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    
    }

    ul{
        grid-area: logos;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 25px;
        padding-right: 60px;
    }

    h3{
        grid-area: h3;
        align-self: center;
        justify-self: right;
    }

}

.headerIndex{
    grid-area: header;
    background-color: black;
    height: 165px;

    a{
        color: white;
    }
}

.h3Index{
    margin-left: 25px;
}

#ulIndexmain{ 
    padding: 25px;
    padding-left: 40px;
}

#comoeselformato{
    padding: 25px;
    padding-top: 20px;

}

    /* Fotos */

.bodyFoto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.15fr 1fr 0.1fr;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer"
    ;
}

.headerFoto{
    grid-area: header;


}

.footerFoto{
    grid-area: footer;
    position: relative;
    top: 20px;    
    height: 155px;
    border-radius: 60px;
    @include gridBase(grid, repeat( 2, 1fr), repeat( 2, 1fr)){
        grid-template-areas: 
        "h3 logos"
        "p      p"
        ;
    }


    p{
        grid-area: p;
        justify-self: center;
        align-self: center;
    }

    img{
        max-width: 100%;
        height: 50px;
        width: 50px;
    
    }

    li{
        list-style: none;
        
    }

    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    
    }

    ul{
        grid-area: logos;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        position: relative;
        top: 25px;
        right: 60px;
    }

    h3{
        grid-area: h3;
        align-self: center;
        justify-self: center;
        padding-top: 15px;
    }

}

.mainFoto{
    grid-area: main;
    @include gridBase(grid, repeat(2, 1fr), 0.3fr repeat(3, 1fr) 1fr){
    grid-template-areas:
    "h2 h2"
    "foto1 foto2"
    "foto3 foto4"
    "foto5 foto6"
    "foto7 foto8"
    ;
    }
}



@mixin imgsFoto{
    height: auto;
    width: 35em;
    align-self: center;
    justify-self: center;
}


#foto1{
    grid-area: foto1;
    @include imgsFoto
}

#foto2{
    grid-area: foto2;
    @include imgsFoto
}

#foto3{
    grid-area: foto3;
    @include imgsFoto
}

#foto4{
    grid-area: foto4;
    @include imgsFoto
}

#foto5{
    grid-area: foto5;
    @include imgsFoto
}

#foto6{
    grid-area: foto6;
    @include imgsFoto
}

#foto7{
    grid-area: foto7;
    @include imgsFoto
}

#foto8{
    grid-area: foto8;
    @include imgsFoto
}

#h2Stickyfoto{
    grid-area: h2;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: sticky;
    top: 5px;
    background-color: rgb(219, 102, 6);
    color: black;
    height: 50px;
    
}

    /* Posiciones */

@mixin conferencias{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}



#oeste{
    @include conferencias
}

#este{
    @include conferencias
}

.headerPosi{
    margin-bottom: 40px;
}

    /* Campeones */

.mainCampeones{
    @include gridBase(grid, repeat(2, 1fr),0.5fr repeat(2, 600px)){
    grid-template-areas:
    "texto texto"
    "img1 img2"
    "img3 img4"
    ;
    }
}


#h1Campeones{
    grid-area: texto;
    align-self: center;
    justify-self: center;
    font-size: 40px;
    font-weight: 100;
    margin-top: 45px;
    margin-bottom: 30px;

}

@mixin imgsCampeones{
    height: auto;
    width: 400px;
    align-self: center;
    justify-self: center;
}

#Boston{
    @include imgsCampeones;
    grid-area: img1;
}

#Bulls{
    @include imgsCampeones;
    grid-area: img4;
}

#GoldenState{
    @include imgsCampeones;
    grid-area: img3;
}
#Lakers{
    @include imgsCampeones;
    grid-area: img2;
}


.footerCampeones{
    margin: 30px;
    margin-left: 50px;

    a{
        text-decoration: none;
        color: black;
        
    }

    li{
        list-style: none;
        padding-left: 40px;
        display: inline;
        padding: 5px;
    }

    p{
        margin: 0px;
        
    }

    img{
        max-width: 100%;
        height: 50px;
        width: 50px;
    
    }

}   

    /* Contacto */

.bodyContacto{
    @include gridBase(grid, 1fr, 0.3fr 5fr 0.5fr){
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
    }

}

.headerContacto{
    grid-area: header;

}

#formContacto{
    @include gridBase(grid, 1fr, repeat(3, 1fr)){
        grid-template-areas: 
        "mail"
        "text"
        "boton"
        ;
    }

}

.mainContacto{
    background-image: url(../imagenes/imagen\ dunk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fill;
    grid-area: main;
    display: flex;
    justify-content: center;

}

#mailInput{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-area: mail;
    width: 250px;
    justify-self: center;
    align-self: center;

}

.mail{
    align-self: center;
    justify-self: center;
        color: white;
    
}

#textInput{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-area: text;
    width: 250px;
    justify-self: center;
    align-self: center;

}

.mensaje{
    align-self: center;
    justify-self: center;
    color: white;
}

#btnContact{
    display: flex;
    grid-area: boton;
    justify-content: center;
    align-self: center;
    
}

@media screen and (min-width: 1431px) and (max-width: 1850px){

    /* Historia */

    .bodyHisto{
        background-image: none;
        @include gridBase(grid, 1fr, 0.3fr repeat(2, 1fr) 0.3fr){
            grid-template-areas: 
            "header"
            "main"
            "video"
            "footer"
            ;
        }
    }

    .mainHisto{
        margin: 0px;
    }

    .h2histo{
        color: black;
    }

    .video{
        
        iframe{
            height: 400px;
            width: 850px;
        }

    }

    /* Index */

    .bodyIndex{
        background-image: none;
    }

    .footerIndx{

        h3{
            padding-left: 35px;
        }

    }

    .mainIndex{
        overflow: initial;
    }

    .headerIndex{
        height: auto;
    }

    /* Contacto */

    .mainContacto{
        background-image: none;
    }
    
    .mensaje{
        color: black;
    }

    .mail{
        color: black;
    }


}

@media screen and (min-width: 1025px) and (max-width: 1430px){

    /* Index */

    .bodyIndex{
        background-image: none;
        grid-template-columns: 100%;
        grid-template-rows: 0.23fr 0.3fr repeat( 2, 0.5fr);
        grid-template-areas: 
        "header"
        "h1"
        "main"
        "footer"
        ;   
    }
    

    .mainIndex{
        height: auto;
        width: auto;
        overflow: initial;
    }

    #h1Index{
        padding-top: 25px;
        justify-self: center;
        
    }
    
    main{
        margin-left: 0px;
    }

    .footerIndx{

        h3{
            justify-self: center;
        }

    }

    .navMenu{

        a{
            padding: 35px;
        }

    }

    .headerIndex{
        height: auto;
    }

    /* Histo */

    .bodyHisto{
        background-image: none;
        @include gridBase(grid, 1fr, 0.3fr repeat(2, 1fr) 0.3fr){
            grid-template-areas: 
            "header"
            "main"
            "video"
            "footer"
            ;
        }
    }

    .mainHisto{
        margin: 0px;
    }

    .h2histo{
        color: black;
    }
    
    .video{
        h2{
            color: black;
        }

        iframe{
            height: 450px;
            width: 900px;
        }
    }

    /* Contacto */

    .mainContacto{
        background-image: none;
    }

    .mensaje{
        color: black;
    }

    .mail{
        color: black;
    }
}

@media screen and (min-width: 856px) and (max-width: 1024px){

    /* Index */

    .bodyIndex{
        background-image: none;
        grid-template-columns: 100%;
        grid-template-rows: 0.23fr 0.3fr repeat( 2, 0.5fr);
        grid-template-areas: 
        "header"
        "h1"
        "main"
        "footer"
        ;   
    }
    

    .mainIndex{
        height: auto;
        width: auto;
        overflow: initial;
    }

    #h1Index{
        padding-top: 25px;
        justify-self: center;
        
    }
    
    main{
        margin-left: 0px;
    }

    .navMenu{
        display: flex;
        align-items: end;
        justify-content: end;
        width: 100%;
    
        a{
            padding: 40px;
            padding-bottom: 10px;
        }
    
        li{
            display: flex;
            justify-content: center;
            align-content: center;
        }
    }

    .headerIndex{
        height: auto;
    }

    
    /* Historia */

    .bodyHisto{
        background-image: none;
        @include gridBase(grid, 1fr, 0.3fr repeat(2, 1fr) 0.3fr){
            grid-template-areas: 
            "header"
            "main"
            "video"
            "footer"
            ;
        }
    }

    .mainHisto{
        margin: 0px;
    }

    .h2histo{
        color: black;
    }

    .video{
        iframe{
            height: 350px;
            width: 700px;
        }

    }
    

    p{
        font-size: 25px;
    }


/* Contacto */

    

.mainContacto{
    background-image: none;
    grid-area: main;
    display: flex;
    justify-content: center;
    
}

header{
    grid-area: header;
}

.footerContacto{
    grid-area: footer;
}

.mensaje{
    color: black;
}

.mail{
    color: black;
}

/* Fotos */

.mainFoto{
    background-image: none;
    @include gridBase(grid, 1fr, 0.3fr repeat(7, 1fr) 1.3fr){
        grid-template-areas:
        "h2"
        "foto1"
        "foto2"
        "foto3"
        "foto4"
        "foto5"
        "foto6"
        "foto7"
        "foto8"
        ;
    }
}  

@mixin imgsFoto{
    height: auto;
    width: 30em;
    align-self: center;
    justify-self: center;
}

#foto1{
    grid-area: foto1;
    @include imgsFoto
}
        
#foto2{
    grid-area: foto2;
    @include imgsFoto
}
        
#foto3{
    grid-area: foto3;
    @include imgsFoto
}
        
#foto4{
    grid-area: foto4;
    @include imgsFoto
}
        
#foto5{
    grid-area: foto5;
    @include imgsFoto
}
        
#foto6{
    grid-area: foto6;
    @include imgsFoto
}
        
#foto7{
    grid-area: foto7;
    @include imgsFoto
}
        
#foto8{
    grid-area: foto8;
    @include imgsFoto
}

}

@media screen and (min-width: 769px) and (max-width: 855px){

    /* Index */

    .bodyIndex{
        background-image: none;
        grid-template-columns: 100%;
        grid-template-rows: 0.23fr 0.3fr repeat( 2, 0.5fr);
        grid-template-areas: 
        "header"
        "h1"
        "main"
        "footer"
        ;   
    }

    .mainIndex{
        height: auto;
        width: auto;
        overflow: initial;
    }

    #h1Index{
        padding-top: 25px;
        justify-self: center;
        
    }
    
    main{
        margin-left: 0px;
    }

    .navMenu{
        display: flex;
        align-items: end;
        justify-content: end;
        width: 100%;
    
        a{
            padding: 25px;
        }
    
        li{
            display: flex;
            justify-content: center;
            align-content: center;
        }
    }

    p{
        font-size: 20px;
    }

    .headerIndex{
        height: auto;
    }

    /* Historia */

    .bodyHisto{
        background-image: none;
        @include gridBase(grid, 1fr, 0.3fr repeat(2, 1fr) 0.3fr){
            grid-template-areas: 
            "header"
            "main"
            "video"
            "footer"
            ;
        }
    }

    .mainHisto{
        margin: 0px;
    }

    .h2histo{
        color: black;
    }

    .video{
        iframe{
            height: 350px;
            width: 700px;
        }

    }

    /* Fotos */

    

    .headerFoto{
        height: auto;
    }

    .bodyFoto{
        display: contents;
    
    }
    
    .mainFoto{
        background-image: none;
        grid-area: main;
        @include gridBase(grid, 1fr, 0.3fr repeat(7, 1fr) 1.3fr){
            grid-template-areas:
            "h2"
            "foto1"
            "foto2"
            "foto3"
            "foto4"
            "foto5"
            "foto6"
            "foto7"
            "foto8"
            ;
        }
    }   
    
    @mixin imgsFoto{
        height: auto;
        width: 41em;
        align-self: center;
        justify-self: center;
    }

    #foto1{
        grid-area: foto1;
        @include imgsFoto
    }
            
    #foto2{
        grid-area: foto2;
        @include imgsFoto
    }
            
    #foto3{
        grid-area: foto3;
        @include imgsFoto
    }
            
    #foto4{
        grid-area: foto4;
        @include imgsFoto
    }
            
    #foto5{
        grid-area: foto5;
        @include imgsFoto
    }
            
    #foto6{
        grid-area: foto6;
        @include imgsFoto
    }
            
    #foto7{
        grid-area: foto7;
        @include imgsFoto
    }
            
    #foto8{
        grid-area: foto8;
        @include imgsFoto
    }
    
    /* Contacto */

    .mainContacto{
        background-image: none;
    }
    
    .mensaje{
        color: black;
    }

    .mail{
        color: black;
    }

}



@media screen and (min-width: 521px) and (max-width: 768px){

    /* Index */

.bodyIndex{
    background-image: none;
    grid-template-columns: 100%;
    grid-template-rows: 0.23fr 0.3fr repeat( 2, 0.5fr);
    grid-template-areas: 
    "header"
    "h1"
    "main"
    "footer"
    ;   
}

#h1Index{
padding-top: 50px;
padding-left: 40px; 
}

.mainIndex{
    height: auto;
    width: auto;
    overflow: initial;
}

.headerIndex{
    height: auto;
}
    
    /* Historia */
    
    
.bodyHisto{
    background-image: none;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.4fr 0.7fr 0.7fr 0.5fr;
    grid-template-areas: 
    "header"
    "main"
    "video"
    "footer"
    ;
}

.navMenu{
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    

    a{
        padding-bottom: 2px;
    }

    li{
        display: flex;
        justify-content: center;
        align-content: center;
    }
}

.video{
    iframe{
        height: 380px;
        width: 480px;
    }
}

.h2histo{
    color: black;
}

        /* Posiciones */

#este{
    img{
        height: auto;
        width: 600px;
    }

}

#oeste{
    img{
        height: auto;
        width: 600px;
    }

}
        
        /* Fotos */

.bodyFoto{
    display: contents;

}

.mainFoto{
    background-image: none;
    @include gridBase(grid, 1fr, 0.3fr repeat(7, 1fr) 1.3fr){
        grid-template-areas:
        "h2"
        "foto1"
        "foto2"
        "foto3"
        "foto4"
        "foto5"
        "foto6"
        "foto7"
        "foto8"
        ;
    }
}   

@mixin imgsFoto{
    height: auto;
    width: 100%;

    align-self: center;
    justify-self: center;
}

#foto1{
    grid-area: foto1;
    @include imgsFoto
}
        
#foto2{
    grid-area: foto2;
    @include imgsFoto
}
        
#foto3{
    grid-area: foto3;
    @include imgsFoto
}
        
#foto4{
    grid-area: foto4;
    @include imgsFoto
}
        
#foto5{
    grid-area: foto5;
    @include imgsFoto
}
        
#foto6{
    grid-area: foto6;
    @include imgsFoto
}
        
#foto7{
    grid-area: foto7;
    @include imgsFoto
}
        
#foto8{
    grid-area: foto8;
    @include imgsFoto
}

        /* Campeones */

.bodyCampeones{
    @include gridBase(grid, 1fr, 0.2fr 1600px 1fr){
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;

    }
}

.mainCampeones{
    grid-area: main;
}

.footerCampeones{
    grid-area: footer;
}

.mainCampeones{
    @include gridBase(grid, 1fr, 0.3fr repeat(4, 1fr)){
        grid-template-areas: 
        "texto"
        "img1"
        "img2"
        "img3"
        "img4"
        ;
    }
}

@mixin imgsCampeones{
    height: auto;
    width: 350px;
    align-self: center;
    justify-self: center;
}

#Boston{
    @include imgsCampeones;
    grid-area: img1;
}

#Bulls{
    @include imgsCampeones;
    grid-area: img4;
}

#GoldenState{
    @include imgsCampeones;
    grid-area: img3;
}
#Lakers{
    @include imgsCampeones;
    grid-area: img2;
}

main{
    margin: 0px;
}

    /* Contacto */

    .mainContacto{
        background-image: none;
    }

    .mensaje{
        color: black;
    }

    .mail{
        color: black;
    }

}




@media (min-width: 10px) and (max-width: 520px){

    /* Index */

    .bodyIndex{
        background-image: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.1fr 1fr 0.4fr;
        grid-template-areas: 
        "header"
        "h1"
        "main"
        "footer"
        ;
    
    }

    .mainIndex{
        height: auto;
        width: auto;
        overflow: initial;
    }

    p{
        margin: 1px;
        width: auto;
    }

    #h1Index{
        grid-area: "h1";
        margin: 0px;
        padding: 0px;
        align-self: center;
        justify-self: center; 
        
    }

    .headerIndex{
        height: auto;
    }

    main {
        margin: 0px;
    }

    #playoffs{
        margin-top: 15px;
    }

    #sectionIndex{
        position: relative;
        right: 25px;
    }

    .footerIndx{
        margin-left: 35px;
    }

    /* Historia */

    .bodyHisto{
        background-image: none;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0.3fr 1fr 1fr 0.3fr;
        grid-template-areas:
        "header"
        "main"
        "video"
        "footer"
        ;

    }

    .mainHisto{
        align-self: center;
        justify-self: center;
    }

    .video{
        justify-self: center;
        align-items: center;

    }

    .h2histo{
        color: black;
    }

    h2{
        align-self: left;
        margin-bottom: 5px;

    }

    .footerHisto{
        width: auto;

        p{
            width: 350px;
            padding-left: 15px;
        }

        h3{
            padding-left: 60px;
            margin-bottom: 15px;
        }

    }

    .video{
        iframe{
            width: 290px;
            height: 250px;
            align-self: center;
        }
    }

    /* Posiciones */

    .bodyPosi{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0.3fr 1fr 0.3fr 0.5fr;
        grid-template-areas: 
        "header"
        "este"
        "oeste"
        "footer"
        ;
    }

    #este{
        grid-area: "este";
        margin-bottom: 15px;

        img{
            height: auto;
            width: 300px;
        }

    }

    #oeste{
        grid-area: "oeste";

        img{
            height: auto;
            width: 300px;
        }
    }

    .h2Posi{
        font-size: 15px;
        padding-bottom: 10px;
    }

    .footerPosi{
        height: 300px;

        h3{
            font-size: 15px;
    
        }

        p{
            font-size: 25px;
            padding-bottom: 30px;
            padding-left: 10px;
            width: auto;
        }

        img{
            height: auto;
            width: 45px;
            padding-top: 30px;
        }
    }

    /* Contacto */

    .bodyContacto{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0.3fr 1fr 0.5fr;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
    }

    .mensaje{
        color: black;
    }

    .mail{
        color: black;
    }

    header{
        grid-area: "header";
    }

    .mainContacto{
        background-image: none;
        grid-area: "main";
    }


    .footerContacto{
        grid-area: "footer";
        margin-left: 50px;
        margin-top: 20px;

        h3{
            font-size: 15px;
    
        }

        p{
            font-size: 13px;
        }

        img{
            height: auto;
            width: 30px;
        }

        

    }

    .navMenu{
        display: flex;
        align-items: end;
        justify-content: end;
        width: 100%;

        a{
            padding-bottom: 10px;
        }

        li{
            display: flex;
            justify-content: center;
            align-content: center;
        }
    }
    

    /* Fotos */

    .bodyFoto{
        display: contents;

    }

    .mainFoto{
        background-image: none;
        @include gridBase(grid, 1fr, 0.3fr repeat(7, 1fr) 1.3fr){
            grid-template-areas:
            "h2"
            "foto1"
            "foto2"
            "foto3"
            "foto4"
            "foto5"
            "foto6"
            "foto7"
            "foto8"
            ;
        }
    }   

    @mixin imgsFoto{
        height: auto;
        width: 23em;
        align-self: center;
        justify-self: center;
    }

    #foto1{
        grid-area: foto1;
        @include imgsFoto
    }
    
    #foto2{
        grid-area: foto2;
        @include imgsFoto
    }
    
    #foto3{
        grid-area: foto3;
        @include imgsFoto
    }
    
    #foto4{
        grid-area: foto4;
        @include imgsFoto
    }
    
    #foto5{
        grid-area: foto5;
        @include imgsFoto
    }
    
    #foto6{
        grid-area: foto6;
        @include imgsFoto
    }
    
    #foto7{
        grid-area: foto7;
        @include imgsFoto
    }
    
    #foto8{
        grid-area: foto8;
        @include imgsFoto
    }

    .footerFoto{
        p{
            font-size: 25px;
            padding-top: 15px;
            width: 350px;
        }
    }


    /* Campeones */

.bodyCampeones{
    @include gridBase(grid, 1fr, 0.2fr 1600px 1fr){
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;

    }
}

.mainCampeones{
    grid-area: main;
}

.footerCampeones{
    grid-area: footer;
}

.mainCampeones{
    background-image: none;
    @include gridBase(grid, 1fr, 0.3fr repeat(4, 1fr)){
        grid-template-areas: 
        "texto"
        "img1"
        "img2"
        "img3"
        "img4"
        ;
    }
}

@mixin imgsCampeones{
    height: auto;
    width: 280px;
    align-self: center;
    justify-self: center;
}

#Boston{
    @include imgsCampeones;
    grid-area: img1;
}

#Bulls{
    @include imgsCampeones;
    grid-area: img4;
}

#GoldenState{
    @include imgsCampeones;
    grid-area: img3;
}
#Lakers{
    @include imgsCampeones;
    grid-area: img2;
}

#h1Campeones{
    font-size: 25px;
    font-weight: 100;
    margin-left: 25px;
}

#h2Stickyfoto{
    text-align: justify;
    height: 85px;
}

}